body{
    margin: 0;
    /* text-align: center; */
    // background-image: url("codeial-quora/assets/images/19a1b216f31a5d18a054aef242ccacab.jpg");

    #layout-main{
        height: 100%;
        scroll-behavior: smooth;
        display: unset;
    }
}