#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #people-data {
    display: grid;
    grid-template-rows: auto auto auto; }
    #home-container #people-data #user-friends {
      width: 30%;
      padding: 10px;
      border-left: 1px solid lightgrey;
      height: 100%; }
    #home-container #people-data #user-actual-friends {
      width: 30%;
      padding: 10px;
      border-left: 1px solid lightgrey;
      height: 100%; }

#background-design {
  position: fixed;
  z-index: -1; }
